.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.holder {
  display: flex;
  flex-direction: row;
}

.tabs {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.body {
  margin-left: 100px;
}
.selected {
  color: red;
}
.unselected {
  color: blue;
}

.chargeHolder {
  display: flex;
  flex-direction: row;
  background-color: lightcyan
}

.item_center {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  text-align: center;
}

.item_left{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  text-align: left;
  margin-left: 60px
}

.griditem {
  grid-template-columns: 100px 50px 100px 100px;
  grid-column-gap: 10px;
}
